body {
    background: #D2D2C1 url(../img/fundo.png);

    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}

#nav {
    width: 100%;
    padding: 18px;

    background-color: #C5C5B2;
}

#nav > a {
    padding: 5px;

    font-weight: bold;
    text-decoration: none;
    color: #4B566A;
}

#sobre {
    padding: 10px;

    background-color: #E8E8D9;
}

#sobre > h1 {
    font-size: 1.2em;
    color: #828271;
}

#sobre > img.campanha {
    border: 10px solid #C3C3AE;
}

#rodape {
    text-align: center;
}
